{% extends 'base.html.twig' %}

{% block title %}Modifier un rappel
{% endblock %}

{% block body %}
	<div class="container mx-auto p-24 flex flex-col text-xl">
		<h1 class="mb-6 text-xl lg:text-3xl font-bold text-gray-800">
			{{ rappel.Titre }}
		</h1>

		{{ include('rappel/_form.html.twig', )}}

	</div>
{% endblock %}
